# Unit 25. 딕셔너리

25.1 딕셔너리 조작

- 추가 및 수정

In [1]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.setdefault('e')
x.update(e=20)
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 20}

In [2]:
# 할당 방법으로 키가 없으면 새로운 키-값 쌍을 만들어 줌
x['f'] = 100
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 20, 'f': 100}

In [3]:
# 할당 방법으로 키가 있으면 값을 변경해 줌
x['e'] = 300
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 300, 'f': 100}

- 삭제(pop)

In [4]:
x.pop()

TypeError: pop expected at least 1 argument, got 0

In [5]:
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 300, 'f': 100}

In [6]:
x.pop('e')

300

In [7]:
x.pop('e', 0)

0

In [8]:
del x['c']

In [9]:
x

{'a': 10, 'b': 20, 'd': 40, 'f': 100}

In [10]:
x.popitem()

('f', 100)

키의 값 가져오기

In [11]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.get('a')

10

In [12]:
x['a']

10

- 키, 값, 키-값 모두 가져오기

In [13]:
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [15]:
# 많이 사용
x.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [16]:
x.values()

dict_values([10, 20, 30, 40])

In [17]:
# 많이 사용
x.items()

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

25.3 딕셔너리와 반복문

In [18]:
# 좋은 방법이 아님
for item in x:
    print(item)

a
b
c
d

In [19]:
for key in x.keys():
    print(key, x[key])

a 10
b 20
c 30
d 40

In [20]:
for key, value in x.items():
    print(key, value)

a 10
b 20
c 30
d 40

25.3 표현식

In [21]:
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [22]:
# 값이 제곱한 값을 갖도록
y = {}
for key, value in x.items():
    y[key] = value * value
y

{'a': 100, 'b': 400, 'c': 900, 'd': 1600}

In [23]:
y = {key: value*value for key, value in x.items()}
y

{'a': 100, 'b': 400, 'c': 900, 'd': 1600}

In [24]:
y = {key: x[key]*x[key] for key in x.keys()}
y

{'a': 100, 'b': 400, 'c': 900, 'd': 1600}

In [25]:
# value가 20의 배수인 것의 제곱수
y = {key: value*value for key, value in x.items() if value % 20 == 0}
y

{'b': 400, 'd': 1600}

25.4 Dictionary in dictionary

In [26]:
x = {'국어': [80, 86, 78, 92],
     '영어': [70, 82, 94, 90],
     '수학': [80, 78, 78, 82]}
x

{'국어': [80, 86, 78, 92], '영어': [70, 82, 94, 90], '수학': [80, 78, 78, 82]}

In [27]:
import pandas as pd
df = pd.DataFrame(x)
df

   국어  영어  수학
0  80  70  80
1  86  82  78
2  78  94  78
3  92  90  82

In [28]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}

In [29]:
terrestrial_planet['Earth']

{'mean_radius': 6371.0, 'mass': 5.97219e+24, 'orbital_period': 365.25641}

In [30]:
terrestrial_planet['Earth']['mean_radius']

6371.0

- 실전 사례: 카카오 로컬 API 사용한 결과

In [31]:
result = {'documents': [{'address': {'address_name': '강원 강릉시 저동 94',
    'b_code': '4215013700',
    'h_code': '4215066500',
    'main_address_no': '94',
    'mountain_yn': 'N',
    'region_1depth_name': '강원',
    'region_2depth_name': '강릉시',
    'region_3depth_h_name': '경포동',
    'region_3depth_name': '저동',
    'sub_address_no': '',
    'x': '128.896538649542',
    'y': '37.7955687639648'},
   'address_name': '강원 강릉시 경포로 365',
   'address_type': 'ROAD_ADDR',
   'road_address': {'address_name': '강원 강릉시 경포로 365',
    'building_name': '경포대',
    'main_building_no': '365',
    'region_1depth_name': '강원',
    'region_2depth_name': '강릉시',
    'region_3depth_name': '저동',
    'road_name': '경포로',
    'sub_building_no': '',
    'underground_yn': 'N',
    'x': '128.896538649542',
    'y': '37.7955687639648',
    'zone_no': '25461'},
   'x': '128.896538649542',
   'y': '37.7955687639648'}],
 'meta': {'is_end': True, 'pageable_count': 1, 'total_count': 1}}

위도와 경도를 실수로 출력

In [32]:
result.keys()

dict_keys(['documents', 'meta'])

In [33]:
type(result['documents'])

list

In [34]:
type(result['documents'][0])

dict

In [35]:
result['documents'][0].keys()

dict_keys(['address', 'address_name', 'address_type', 'road_address', 'x', 'y'])

In [36]:
lng = float(result['documents'][0]['x'])
lat = float(result['documents'][0]['y'])
print(f'위도: {lat:9.6f}, 경도: {lng:10.6f}')

위도: 37.795569, 경도: 128.896539

행안부 도로명주소 API 검색 결과

In [37]:
result = {'results': {'common': {'errorMessage': '정상',
   'countPerPage': '10',
   'totalCount': '1',
   'errorCode': '0',
   'currentPage': '1'},
  'juso': [{'detBdNmList': '',
    'engAddr': '768, Bijarim-ro, Jocheon-eup, Jeju-si, Jeju-do',
    'rn': '비자림로',
    'emdNm': '조천읍',
    'zipNo': '63346',
    'roadAddrPart2': '',
    'emdNo': '02',
    'sggNm': '제주시',
    'jibunAddr': '제주특별자치도 제주시 조천읍 교래리 342-2 산굼부리',
    'siNm': '제주특별자치도',
    'roadAddrPart1': '제주특별자치도 제주시 조천읍 비자림로 768',
    'bdNm': '산굼부리',
    'admCd': '5011025929',
    'udrtYn': '0',
    'lnbrMnnm': '342',
    'roadAddr': '제주특별자치도 제주시 조천읍 비자림로 768',
    'lnbrSlno': '2',
    'buldMnnm': '768',
    'bdKdcd': '0',
    'liNm': '교래리',
    'rnMgtSn': '501103349079',
    'mtYn': '0',
    'bdMgtSn': '5011025929003420005071420',
    'buldSlno': '0'}]}}

In [38]:
result.keys()

dict_keys(['results'])

In [39]:
result['results'].keys()

dict_keys(['common', 'juso'])

In [40]:
result['results']['juso'][0].keys()

dict_keys(['detBdNmList', 'engAddr', 'rn', 'emdNm', 'zipNo', 'roadAddrPart2', 'emdNo', 'sggNm', 'jibunAddr', 'siNm', 'roadAddrPart1', 'bdNm', 'admCd', 'udrtYn', 'lnbrMnnm', 'roadAddr', 'lnbrSlno', 'buldMnnm', 'bdKdcd', 'liNm', 'rnMgtSn', 'mtYn', 'bdMgtSn', 'buldSlno'])

In [41]:
road_addr = result['results']['juso'][0]['roadAddr']
print(f'산굼부리 도로명 주소: {road_addr}')

산굼부리 도로명 주소: 제주특별자치도 제주시 조천읍 비자림로 768