# Unit 10. 리스트와 튜플

10.1 리스트(List)

In [1]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [2]:
import numpy as np
b = list(np.random.randint(10,70,10))
b

[38, 48, 68, 21, 65, 13, 54, 21, 36, 52]

In [3]:
# 리스트에는 여러 자료형을 사용할 수 있음
person = ['james', 27, 175.3, '남']
person

['james', 27, 175.3, '남']

In [4]:
# 위의 리스트는 아래와 같은 딕셔너리로 표현하는 것이 더 좋다
{'name':'james', 'age':27, 'height':175.3, 'gender':'남'}

{'name': 'james', 'age': 27, 'height': 175.3, 'gender': '남'}

빈 리스트 만들기

In [6]:
a = []
b = list()
a, b = [], []

In [7]:
import random
a = []
for i in range(5):
    a.append(random.randint(60,100))
a

[77, 90, 99, 76, 88]

range 객체

In [8]:
# range parameter 1개: 횟수 의미(0 ~ n-1)
list(range(5))

[0, 1, 2, 3, 4]

In [9]:
# range parameter 2개: 시작, 끝 의미(시작 ~ 끝-1)
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
# range parameter 3개: 시작, 끝, 증가폭 의미
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [11]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

10.2 튜플(tuple)

In [12]:
a = (38, 21, 53, 62, 19)
a

(38, 21, 53, 62, 19)

In [13]:
person = ('james', 27, 175.3, '남')
person

('james', 27, 175.3, '남')

In [14]:
size = (3)
type(size)

int

In [15]:
size = (3,)
type(size)

tuple

In [16]:
size = 3,
type(size)

tuple

튜플은 요소를 변경, 추가, 삭제할 수도 없다.

In [17]:
t = ()
type(t)

tuple

In [18]:
t = tuple(range(5))
t

(0, 1, 2, 3, 4)

리스트 <--> 튜플

In [19]:
l = list(t)
type(l)

list

In [20]:
type(tuple(l))

tuple

리스트에 문자열 넣기

In [21]:
list('안녕하세요')

['안', '녕', '하', '세', '요']

In [22]:
list('ABCD')

['A', 'B', 'C', 'D']

list/tuple unpacking

In [23]:
a, b, c, d = 'a', 'b', 'c', 'd'
a, b, c, d

('a', 'b', 'c', 'd')

In [24]:
a, b, c, d = list('abcd')
a, b, c, d

('a', 'b', 'c', 'd')

In [25]:
x, y, z = range(3)
x, y, z

(0, 1, 2)

In [26]:
x, y, z = input().split()
x, y, z

('10', '20', '30')

In [27]:
x, y, z = map(int, input().split())
x, y, z

(10, 20, 30)

In [28]:
x, y, z = map(lambda x: int(x)*2 + 5, input().split())
x, y, z

(25, 45, 65)