# 데이터 프레임 분석

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [4]:
iris=sns.load_dataset('iris')
tips=sns.load_dataset('tips')

In [5]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [9]:
iris.groupby('species').mean()[['sepal_length']]

            sepal_length
species
setosa             5.006
versicolor         5.936
virginica          6.588

In [11]:
iris[['sepal_length','species']].groupby('species').std()

            sepal_length
species
setosa          0.352490
versicolor      0.516171
virginica       0.635880

In [12]:
iris.groupby('species')[['sepal_length']].std()

            sepal_length
species
setosa          0.352490
versicolor      0.516171
virginica       0.635880

- 그룹 연산을 여러가지 하는 경우 
   - 각 품종 별 sepal_length 의 평균 , 표준편차 , 최소값 , 최대값

In [13]:
iris.groupby('species')['sepal_length'].agg(['mean','std','min','max'])

             mean       std  min  max
species
setosa      5.006  0.352490  4.3  5.8
versicolor  5.936  0.516171  4.9  7.0
virginica   6.588  0.635880  4.9  7.9

# tips 데이터 사례

In [14]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
iris.groupby('sex')[['sepal_length']].std()

In [15]:
# 1. 남자 vs 여자 
# 2. 흡연자 vs 비흡연자

SyntaxError: invalid syntax (Temp/ipykernel_15524/3946412254.py, line 1)

In [17]:
tips['tip_pct']=(tips.tip/tips.total_bill * 100).round(2)
tips.tail()

     total_bill   tip     sex smoker   day    time  size  tip_pct
239       29.03  5.92    Male     No   Sat  Dinner     3    20.39
240       27.18  2.00  Female    Yes   Sat  Dinner     2     7.36
241       22.67  2.00    Male    Yes   Sat  Dinner     2     8.82
242       17.82  1.75    Male     No   Sat  Dinner     2     9.82
243       18.78  3.00  Female     No  Thur  Dinner     2    15.97

In [19]:
tips.describe()

       total_bill         tip        size     tip_pct
count  244.000000  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672   16.079754
std      8.902412    1.383638    0.951100    6.107020
min      3.070000    1.000000    1.000000    3.560000
25%     13.347500    2.000000    2.000000   12.910000
50%     17.795000    2.900000    2.000000   15.475000
75%     24.127500    3.562500    3.000000   19.147500
max     50.810000   10.000000    6.000000   71.030000

- 성별 데이터 갯수

In [20]:
tips.groupby('sex').count()

        total_bill  tip  smoker  day  time  size  tip_pct
sex
Male           157  157     157  157   157   157      157
Female          87   87      87   87    87    87       87

In [21]:
tips.groupby('sex').size()

sex
Male      157
Female     87
dtype: int64

- 성별,흡연유무별 데이터 갯수

In [22]:
tips.groupby(['sex','smoker']).size()

sex     smoker
Male    Yes       60
        No        97
Female  Yes       33
        No        54
dtype: int64

In [27]:
# 남성, 흡연자 수 
tips.groupby(['sex','smoker']).size()[('Male','Yes')]

60

-성별 팁 비율의 평균, 최소, 최대

In [29]:
tips.groupby('sex')['tip_pct'].agg(['mean','min','max'])

             mean   min    max
sex
Male    15.764713  3.56  71.03
Female  16.648276  5.64  41.67

In [ ]:
tips.groupby('smoker')['tip_pct'].mean()

- 성별,흡연 유무 별 , 팁 비율의 평균

In [30]:
tips.groupby(['sex','smoker','time'])['tip_pct'].mean()

sex     smoker  time
Male    Yes     Lunch     16.665385
                Dinner    14.892553
        No      Lunch     16.570000
                Dinner    15.935844
Female  Yes     Lunch     17.526000
                Dinner    18.513913
        No      Lunch     15.707600
                Dinner    15.676897
Name: tip_pct, dtype: float64

In [32]:
tips.pivot_table('tip_pct',['sex','smoker'])

                 tip_pct
sex    smoker
Male   Yes     15.276667
       No      16.066598
Female Yes     18.214545
       No      15.691111

In [31]:
tips.pivot_table('tip_pct','sex','smoker')

smoker        Yes         No
sex
Male    15.276667  16.066598
Female  18.214545  15.691111