# pandas 데이터 조작

In [1]:
import numpy as np
import pandas as pd

In [2]:
filename='서울시CCTV설치운영현황(자치구)_년도별.csv'
cctv=pd.read_csv(filename,skiprows=1,encoding='EUC-KR')

In [3]:
cctv.describe()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
count,26,26,26,25,25,26,26,26,26,26,26,26,26
unique,26,26,24,23,25,24,26,26,26,26,26,26,25
top,계,"83,557",8,0,"3,434",77,"6,840","8,708","11,572","10,627","12,267","11,247",283
freq,1,1,2,3,1,2,1,1,1,1,1,1,2

In [4]:
df=pd.DataFrame(np.random.randint(40,101,20)).reshape(4,5)

AttributeError: 'DataFrame' object has no attribute 'reshape'

### embark_town 결측치는 행  삭제

- apply

In [ ]:
df

NameError: name 'df' is not defined

In [ ]:
titanic

NameError: name 'titanic' is not defined

In [ ]:
cctv.head(3)

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"83,557","4,812","1,851","3,434","4,295","6,840","8,708","11,572","10,627","12,267","11,247","7,904"
1,종로구,"1,715",815,NaN,NaN,195,150,0,261,85,9,200,0
2,중 구,"2,447",16,114,87,77,236,240,372,386,155,361,403

In [ ]:
cctv['총계']=cctv['총계'].apply(lambda x:int(x.replace(',','')))
cctv.head(3)

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,83557,"4,812","1,851","3,434","4,295","6,840","8,708","11,572","10,627","12,267","11,247","7,904"
1,종로구,1715,815,NaN,NaN,195,150,0,261,85,9,200,0
2,중 구,2447,16,114,87,77,236,240,372,386,155,361,403

In [ ]:
cctv.isna().sum()

구분          0
총계          0
2012년 이전    0
2012년       1
2013년       1
2014년       0
2015년       0
2016년       0
2017년       0
2018년       0
2019년       0
2020년       0
2021년       0
dtype: int64

In [ ]:
cctv['2012년'].fillna(0,inplace=True)

In [ ]:
cctv.columns

Index(['구분', '총계', '2012년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년', '2019년', '2020년', '2021년'],
      dtype='object')

In [ ]:
for column in cctv.columns[2:]:
    cctv[column]= cctv[column].apply(lambda x: int(x.replace(',','')))
cctv.head(3)

AttributeError: 'int' object has no attribute 'replace'

- 실수 값을 카테고리 값으로 변환

In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
titanic=sns.load_dataset('titanic')

In [9]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [13]:
ages=[0,2,10,21,23,37,61,20,41,32,100]
bins=[1,20,30,50,70,100]
labels=['미성년자','청년','중년','장년','노년']
cats=pd.cut(ages,bins,labels=labels)
cats

[NaN, '미성년자', '미성년자', '청년', '청년', ..., '장년', '미성년자', '중년', '중년', '노년']
Length: 11
Categories (5, object): ['미성년자' < '청년' < '중년' < '장년' < '노년']

In [14]:
adf=pd.DataFrame(ages,columns=['ages'])
adf['age_cat']=pd.cut(ages,bins,labels=labels)
adf

    ages age_cat
0      0     NaN
1      2    미성년자
2     10    미성년자
3     21      청년
4     23      청년
5     37      중년
6     61      장년
7     20    미성년자
8     41      중년
9     32      중년
10   100      노년

In [17]:
data=np.random(1000)
cats=pd.qcut(data,4,labels='Q1 Q2 Q3 Q4'.split())
pd.value_counts(cats)

TypeError: 'module' object is not callable