# Unit 30. 위치 인수, 키워드 인수

In [1]:
# 위치 인수(positional argument): 10, 20
# 키워드 인수(keyword argument): sep=', ', end='\n\n'
print(10, 20, sep=', ', end='\n\n')

10, 20

30.1 위치 인수

In [2]:
print( 10,20,30,40,50)

10 20 30 40 50

In [3]:
def print_numbers(a,b,c):
    print(a)
    print(b)
    print(c)

In [4]:
print_numbers(10,20,30)

10
20
30

In [5]:
x=[10,20,30]
print_numbers(*x) # 리스트 언패링

10
20
30

- 가변인수

In [7]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [8]:
print_numbers(10, 20)

10
20

In [9]:
print_numbers(10,20,30,40)

10
20
30
40

In [10]:
print_numbers()

30.2 키워드 인수

In [11]:
def personal_info(name, age, address):
    print('이름:', name)
    print('나이:', age)
    print('주소:', address)

In [12]:
# 위치 인수로 호출
personal_info('홍길동', 25, '서울시 서초구 서초동')

이름: 홍길동
나이: 25
주소: 서울시 서초구 서초동

In [13]:
# 위치 인수로 호출할 경우에는 정확히 위치를 지정해야 함
personal_info(25, '홍길동', '서울시 서초구 서초동')

이름: 25
나이: 홍길동
주소: 서울시 서초구 서초동

In [14]:
# 키워드로 호출
personal_info(age=25, name='홍길동', address='서울시 서초구 서초동')

이름: 홍길동
나이: 25
주소: 서울시 서초구 서초동

30.3 딕셔너리 언패킹

In [15]:
x = {'name': '홍길동', 'age': 30, 'address': '서울시 서초구 서초동'}
personal_info(**x)

이름: 홍길동
나이: 30
주소: 서울시 서초구 서초동

- 가변 키워드 인수

In [16]:
def personal_info2(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}: {value}')

In [17]:
personal_info2(**x)

name: 홍길동
age: 30
address: 서울시 서초구 서초동

In [18]:
x['성별'] = '남자'
x['고향'] = '서울'
x

{'name': '홍길동', 'age': 30, 'address': '서울시 서초구 서초동', '성별': '남자', '고향': '서울'}

In [19]:
personal_info2(**x)

name: 홍길동
age: 30
address: 서울시 서초구 서초동
성별: 남자
고향: 서울

- 호출하는 순서: 위치 인수가 키워드 인수보다 먼저 나와야 함

In [20]:
personal_info('홍길동', address='경기도 용인시 수지구', age= 28)

이름: 홍길동
나이: 28
주소: 경기도 용인시 수지구

In [21]:
personal_info(address='경기도 용인시 수지구', '홍길동', age= 28)

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_7304/1928311263.py, line 1)

- 가변 위치 인수, 가변 키워드 인수

In [22]:
def custom_print(*args, **kwargs):
    print(*args, **kwargs)

In [23]:
custom_print(10,20,30, sep=', ', end='')

10, 20, 30

30.4 매개변수에 초기값 지정

In [24]:
def personal_info(name, age, address='비공개'):
    print('이름:', name)
    print('나이:', age)
    print('주소:', address)

In [25]:
personal_info('홍길동', 25, '서울시 서초구 서초동')

이름: 홍길동
나이: 25
주소: 서울시 서초구 서초동

In [26]:
personal_info('홍길동', 25)

이름: 홍길동
나이: 25
주소: 비공개