In [9]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [15]:
url = 'https://www.melon.com/chart/index.htm'
req = requests.get(url)
req.text

''

In [14]:
header = {'User-Agent': 'https://www.melon.com/chart/index.htm'}
req = requests.get(url, headers=header)
soup = BeautifulSoup(req.text)

In [16]:
trs = soup.select('#lst50')
len(trs)

50

In [17]:
tr = trs[0]

In [18]:
tr.select_one('.rank').get_text()

'1'

In [19]:
try:
    rank = int(tr.select_one('.rank').get_text().split('\n')[0])
except:
    rank = 0
rank

1

In [29]:
title = tr.select_one('.ellipsis.rank01').get_text()
title

'\n봄여름가을겨울 (Still Life)\n'

In [20]:
try:            
    title = tr.select_one('.ellipsis.rank01').string.strip()
except:     
    title = tr.select_one('.ellipsis.rank01').get_text().split('\n')[-1].strip()
title

''

In [33]:
artist = tr.select_one('.ellipsis.rank02').text.strip()
artist

'BIGBANG (빅뱅)BIGBANG (빅뱅)'

In [31]:
album = tr.select_one('.ellipsis.rank03').text.strip()
album

'봄여름가을겨울 (Still Life)'

In [ ]:
rank_list, title_list, artist_list, album_list = [],[],[],[]
for i, tr in enumerate(trs):
    try:
        rank = int(tr.select_one('.ellipsis.rank01').get_text().split('\n')[0])
    except:
        rank = 0
    try:
        title = tr.select_one('.ellipsis.rank01').string.strip()
        artist = tr.select_one('.ellipsis.rank02').text.strip()
        album = tr.select_one('.ellipsis.rank03').text.strip()
    except:
        print(i)
    rank_list.append(rank)
    title_list.append(title)
    artist_list.append(artist)
    album_list.append(album)

In [35]:
rank_list, title_list, artist_list, album_list = [],[],[],[]
for i, tr in enumerate(trs):
    try:
        rank = int(tr.select_one('.rank').get_text().split('\n')[0])
    except:
        rank = 0
    try:            # 일반적인 노래
        title = tr.select_one('.ellipsis.rank01').string.strip()
    except:         # 19금 노래
        title = tr.select_one('.ellipsis.rank01').get_text().split('\n')[-1].strip()
    artist = tr.select_one('.ellipsis.rank02').text.strip()
    album = tr.select_one('.ellipsis.rank03').text.strip()
    rank_list.append(rank)
    title_list.append(title)
    artist_list.append(artist)
    album_list.append(album)

In [36]:
lines = []
for i, tr in enumerate(trs):
    try:
        rank = int(tr.select_one('.rank').get_text().split('\n')[0])
    except:
        rank = 0
    try:            # 일반적인 노래
        title = tr.select_one('.ellipsis.rank01').string.strip()
    except:         # 19금 노래
        title = tr.select_one('.ellipsis.rank01').get_text().split('\n')[-1].strip()
    artist = tr.select_one('.ellipsis.rank02').text.strip()
    album = tr.select_one('.ellipsis.rank03').text.strip()
    line = {'순위':rank, '제목':title, '아티스트':artist, '앨범':album}
    lines.append(line)

In [39]:
df = pd.DataFrame({'순위':rank_list, '제목':title_list,
                '아티스트':artist_list, '앨범':album_list})
df.head(10)

,순위,제목,아티스트,앨범
0,1,,BIGBANG (빅뱅)BIGBANG (빅뱅),봄여름가을겨울 (Still Life)
1,2,,(여자)아이들(여자)아이들,I NEVER DIE
2,3,,IVE (아이브)IVE (아이브),LOVE DIVE
3,4,,Red Velvet (레드벨벳)Red Velvet (레드벨벳),‘The ReVe Festival 2022 - Feel My Rhythm’
4,5,,멜로망스멜로망스,사랑인가 봐 (사내맞선 OST 스페셜 트랙)
5,6,,박재범박재범,GANADARA
6,7,,임영웅임영웅,신사와 아가씨 OST Part.2
7,8,,김민석 (멜로망스)김민석 (멜로망스),취중고백
8,9,,태연 (TAEYEON)태연 (TAEYEON),INVU - The 3rd Album
9,10,,MSG워너비(M.O.M)MSG워너비(M.O.M),듣고 싶을까

In [40]:
df = pd.DataFrame(lines)
df.head(15).tail(5)

    순위 제목                    아티스트                          앨범
10  11         IVE (아이브)IVE (아이브)                      ELEVEN
11  12         경서예지, 전건호경서예지, 전건호  다정히 내 이름을 부르면 (경서예지 x 전건호)
12  13     STAYC(스테이씨)STAYC(스테이씨)               YOUNG-LUV.COM
13  14       YENA (최예나)YENA (최예나)                ˣ‿ˣ (SMiLEY)
14  15     케이시 (Kassy)케이시 (Kassy)        조영수 리메이크 프로젝트 Part.2

In [41]:
df = pd.DataFrame(lines)
df.tail()

    순위 제목                        아티스트                앨범
45  46                         임영웅임영웅    사랑의 콜센타 PART61
46  47                         이무진이무진  눈이 오잖아(Feat.헤이즈)
47  48                         자우림자우림   Goodbye, grief.
48  49             BE'O (비오)BE'O (비오)    Counting Stars
49  50     MSG워너비(M.O.M)MSG워너비(M.O.M)         MSG워너비 1집

In [42]:
df.to_csv('멜론차트.csv', index=False)