In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
url = 'https://www.melon.com/chart/index.htm'
req = requests.get(url)
req.text

''

In [4]:
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.88 Safari/537.36'}
req = requests.get(url, headers=header)
soup = BeautifulSoup(req.text)

In [6]:
trs = soup.select('#lst100')
len(trs)

50

In [7]:
tr = trs[0]

In [8]:
tr.select_one('.rank').get_text()

'51'

In [10]:
try:
    rank = int(tr.select_one('.rank').get_text().split('\n')[0])
except:
    rank = 0
rank

51

In [11]:
try:         
    title = tr.select_one('.rank01').string.strip()
except:   
    title = tr.select_one('.rank01').get_text().split('\n')[-1].strip()
title

''

In [14]:
artist = tr.select_one('.rank02').text.strip()
artist

'임영웅임영웅'

In [15]:
album = tr.select_one('.rank03').text.strip()
album

'사랑의 콜센타 PART61'

In [ ]:
rank_list, title_list, artist_list, album_list = [],[],[],[]
for i, tr in enumerate(trs):
    try:
        rank = int(tr.select_one('.rank').get_text().split('\n')[0])
    except:
        rank = 0
    try:
        title = tr.select_one('.rank01').string.strip()
        artist = tr.select_one('.rank02').text.strip()
        album = tr.select_one('.rank03').text.strip()
    except:
        print(i)
    rank_list.append(rank)
    title_list.append(title)
    artist_list.append(artist)
    album_list.append(album)

In [17]:
rank_list, title_list, artist_list, album_list = [],[],[],[]
for i, tr in enumerate(trs):
    try:
        rank = int(tr.select_one('.rank').get_text().split('\n')[0])
    except:
        rank = 0
    try:            # 일반적인 노래
        title = tr.select_one('.rank').string.strip()
    except:         # 19금 노래
        title = tr.select_one('.rank01').get_text().split('\n')[-1].strip()
    artist = tr.select_one('.rank02').text.strip()
    album = tr.select_one('.rank03').text.strip()
    rank_list.append(rank)
    title_list.append(title)
    artist_list.append(artist)
    album_list.append(album)

In [18]:
lines = []
for i, tr in enumerate(trs):
    try:
        rank = int(tr.select_one('.rank').get_text().split('\n')[0])
    except:
        rank = 0
    try:            # 일반적인 노래
        title = tr.select_one('.rank01').string.strip()
    except:         # 19금 노래
        title = tr.select_one('.rank01').get_text().split('\n')[-1].strip()
    artist = tr.select_one('.rank02').text.strip()
    album = tr.select_one('.rank03').text.strip()
    line = {'순위':rank, '제목':title, '아티스트':artist, '앨범':album}
    lines.append(line)

In [19]:
df = pd.DataFrame({'순위':rank_list, '제목':title_list,
                '아티스트':artist_list, '앨범':album_list})
df.head(15).tail(5)

    순위  제목                      아티스트                           앨범
10  61  61                    임영웅임영웅                 뽕숭아학당 PART23
11  62  62                    이예준이예준                    내 생에 아름다운
12  63  63  마크툽 (MAKTUB)마크툽 (MAKTUB)  Red Moon : Beyond The Light
13  64  64                    아이유아이유                    Love poem
14  65  65      Ed SheeranEd Sheeran                            =

In [20]:
df = pd.DataFrame(lines)
df.head(15).tail(5)

    순위 제목                      아티스트                           앨범
10  61                       임영웅임영웅                 뽕숭아학당 PART23
11  62                       이예준이예준                    내 생에 아름다운
12  63     마크툽 (MAKTUB)마크툽 (MAKTUB)  Red Moon : Beyond The Light
13  64                       아이유아이유                    Love poem
14  65         Ed SheeranEd Sheeran                            =

In [21]:
df.to_csv('멜론차트2.csv', index=False)

In [1]:
print(1+1)

2

In [4]:
i=input()

In [11]:
a=123
123*3

369

In [12]:
a=123
a*=3

In [13]:
a=123
a+a+a

369

In [2]:
a=123
123*3
a*=3

369369369

In [9]:
123*3

369

In [8]:
a*=3

In [4]:
a+a+a

1107

In [14]:
a=123
print(a,a,a,sep='')

123123123

In [19]:
__ne__(a>1)

NameError: name '__ne__' is not defined

In [24]:
 print('5' + '1')

51

In [25]:
print('1' * 3)

111

In [26]:
print(5 // 2)

2

In [27]:
print('5' - 2)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [38]:
S= 'I like programming'
print S.split()

SyntaxError: invalid syntax (Temp/ipykernel_4572/3606079197.py, line 2)

In [34]:
s= 'I like programming'
print s.startswith('I like')

SyntaxError: invalid syntax (Temp/ipykernel_4572/3659609230.py, line 2)

In [35]:
s = 'I like programming'
print s.find('programming')

SyntaxError: invalid syntax (Temp/ipykernel_4572/2355396850.py, line 2)

In [32]:
print s.replace('like', 'hate')

SyntaxError: invalid syntax (Temp/ipykernel_4572/3794716139.py, line 1)

In [39]:
print((lambda a, b=10 : a + b)(5))

15

In [40]:
print(15)

15

In [41]:
print((lambda a, b = 10 : a * b)(3,5))

15

In [46]:
a = [1,2,3]

In [47]:
s1 = [10, 20, 30]
s2 = [40, 50]

In [52]:
s1.add(s2)
s1

AttributeError: 'list' object has no attribute 'add'

In [54]:
output = 10 + "10"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [56]:
int("10")

10

In [58]:
print bool(1 and 0)

SyntaxError: invalid syntax (Temp/ipykernel_4572/1699561090.py, line 1)

In [59]:
 print bool([])

SyntaxError: invalid syntax (Temp/ipykernel_4572/2943250630.py, line 1)

In [60]:
print bool(())

SyntaxError: invalid syntax (Temp/ipykernel_4572/2689526105.py, line 1)

In [61]:
print bool([()])

SyntaxError: invalid syntax (Temp/ipykernel_4572/3117460238.py, line 1)

In [62]:
a = [1,[2,3,4],5]

In [64]:
print(a[0][1])

TypeError: 'int' object is not subscriptable

In [65]:
print(a[1][0])

2

In [66]:
print(a[1][1])

3

In [77]:
a =[1,2,3]
b =[4,5,6]

In [79]:
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 4, 5, 6]