In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [19]:
url = 'https://www.melon.com/chart/day/index.htm'
req = requests.get(url)
req.text

''

In [20]:
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.88 Safari/537.36'}
req = requests.get(url, headers=header)
soup = BeautifulSoup(req.text)

In [21]:
trs = soup.select('#lst50')
len(trs)

50

In [23]:
tr = trs[0]

In [24]:
tr.select_one('.rank').get_text()

'1'

In [25]:
try:
    rank = int(tr.select_one('.rank').get_text().split('\n')[0])
except:
    rank = 0
rank

1

In [26]:
try:            
    title = tr.select_one('.rank01').string.strip()
except:         
    title = tr.select_one('.rank01').get_text().split('\n')[-1].strip()
title

''

In [27]:
artist = tr.select_one('.rank02').text.strip()
artist

'BIGBANG (빅뱅)BIGBANG (빅뱅)'

In [28]:
album = tr.select_one('.rank03').text.strip()
album

'봄여름가을겨울 (Still Life)'

In [ ]:
rank_list, title_list, artist_list, album_list = [],[],[],[]
for i, tr in enumerate(trs):
    try:
        rank = int(tr.select_one('.rank').get_text().split('\n')[0])
    except:
        rank = 0
    try:
        title = tr.select_one('.rank01').string.strip()
        artist = tr.select_one('.rank02').text.strip()
        album = tr.select_one('.rank03').text.strip()
    except:
        print(i)
    rank_list.append(rank)
    title_list.append(title)
    artist_list.append(artist)
    album_list.append(album)

In [30]:
rank_list, title_list, artist_list, album_list = [],[],[],[]
for i, tr in enumerate(trs):
    try:
        rank = int(tr.select_one('.rank').get_text().split('\n')[0])
    except:
        rank = 0
    try:            # 일반적인 노래
        title = tr.select_one('.rank01').string.strip()
    except:         # 19금 노래
        title = tr.select_one('.rank01').get_text().split('\n')[-1].strip()
    artist = tr.select_one('.rank02').text.strip()
    album = tr.select_one('.rank03').text.strip()
    rank_list.append(rank)
    title_list.append(title)
    artist_list.append(artist)
    album_list.append(album)

In [31]:
lines = []
for i, tr in enumerate(trs):
    try:
        rank = int(tr.select_one('.rank').get_text().split('\n')[0])
    except:
        rank = 0
    try:            # 일반적인 노래
        title = tr.select_one('.rank01').string.strip()
    except:         # 19금 노래
        title = tr.select_one('.rank01').get_text().split('\n')[-1].strip()
    artist = tr.select_one('.rank02').text.strip()
    album = tr.select_one('.rank03').text.strip()
    line = {'순위':rank, '제목':title, '아티스트':artist, '앨범':album}
    lines.append(line)

In [32]:
df = pd.DataFrame({'순위':rank_list, '제목':title_list,
                '아티스트':artist_list, '앨범':album_list})
df.head(15).tail(5)

    순위 제목                    아티스트                          앨범
10  11         IVE (아이브)IVE (아이브)                      ELEVEN
11  12         경서예지, 전건호경서예지, 전건호  다정히 내 이름을 부르면 (경서예지 x 전건호)
12  13     STAYC(스테이씨)STAYC(스테이씨)               YOUNG-LUV.COM
13  14     케이시 (Kassy)케이시 (Kassy)        조영수 리메이크 프로젝트 Part.2
14  15       YENA (최예나)YENA (최예나)                ˣ‿ˣ (SMiLEY)

In [33]:
df = pd.DataFrame(lines)
df.head(15).tail(5)

    순위 제목                    아티스트                          앨범
10  11         IVE (아이브)IVE (아이브)                      ELEVEN
11  12         경서예지, 전건호경서예지, 전건호  다정히 내 이름을 부르면 (경서예지 x 전건호)
12  13     STAYC(스테이씨)STAYC(스테이씨)               YOUNG-LUV.COM
13  14     케이시 (Kassy)케이시 (Kassy)        조영수 리메이크 프로젝트 Part.2
14  15       YENA (최예나)YENA (최예나)                ˣ‿ˣ (SMiLEY)

In [34]:
df.to_csv('일간장르.csv', index=False)