In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [4]:
url = 'https://www.melon.com/chart/day/index.htm'
req = requests.get(url)
req.text

''

In [3]:
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.88 Safari/537.36'}
req = requests.get(url, headers=header)
soup = BeautifulSoup(req.text)

In [6]:
trs = soup.select('#lst100')
len(trs)

50

In [7]:
tr = trs[0]

In [8]:
try:
    rank = int(tr.select_one('.rank').get_text().split('\n')[0])
except:
    rank = 0
rank

51

In [9]:
try:           
    title = tr.select_one('.rank01').string.strip()
except:     
    title = tr.select_one('.rank01').get_text().split('\n')[-1].strip()
title

''

In [10]:
artist = tr.select_one('.rank02').text.strip()
artist

'아이유아이유'

In [11]:
album = tr.select_one('.rank03').text.strip()
album

"IU 5th Album 'LILAC'"

In [ ]:
rank_list, title_list, artist_list, album_list = [],[],[],[]
for i, tr in enumerate(trs):
    try:
        rank = int(tr.select_one('.rank').get_text().split('\n')[0])
    except:
        rank = 0
    try:
        title = tr.select_one('.rank01').string.strip()
        artist = tr.select_one('.rank02').text.strip()
        album = tr.select_one('.rank03').text.strip()
    except:
        print(i)
    rank_list.append(rank)
    title_list.append(title)
    artist_list.append(artist)
    album_list.append(album)

In [13]:
rank_list, title_list, artist_list, album_list = [],[],[],[]
for i, tr in enumerate(trs):
    try:
        rank = int(tr.select_one('.rank').get_text().split('\n')[0])
    except:
        rank = 0
    try:            # 일반적인 노래
        title = tr.select_one('.rank01').string.strip()
    except:         # 19금 노래
        title = tr.select_one('.rank01').get_text().split('\n')[-1].strip()
    artist = tr.select_one('.rank02').text.strip()
    album = tr.select_one('.rank03').text.strip()
    rank_list.append(rank)
    title_list.append(title)
    artist_list.append(artist)
    album_list.append(album)

In [14]:
lines = []
for i, tr in enumerate(trs):
    try:
        rank = int(tr.select_one('.rank').get_text().split('\n')[0])
    except:
        rank = 0
    try:            # 일반적인 노래
        title = tr.select_one('.rank01').string.strip()
    except:         # 19금 노래
        title = tr.select_one('.rank01').get_text().split('\n')[-1].strip()
    artist = tr.select_one('.rank02').text.strip()
    album = tr.select_one('.rank03').text.strip()
    line = {'순위':rank, '제목':title, '아티스트':artist, '앨범':album}
    lines.append(line)

In [15]:
df = pd.DataFrame({'순위':rank_list, '제목':title_list,
                '아티스트':artist_list, '앨범':album_list})
df.head(15).tail(5)

    순위 제목                      아티스트             앨범
10  61         Ed SheeranEd Sheeran              =
11  62     주시크 (Joosiq)주시크 (Joosiq)         아무래도 난
12  63                         경서경서  밤하늘의 별을(2020)
13  64                     멜로망스멜로망스      세 번째 '고백'
14  65               버스커 버스커버스커 버스커     버스커 버스커 1집

In [16]:
df = pd.DataFrame(lines)
df.head(15).tail(5)

    순위 제목                      아티스트             앨범
10  61         Ed SheeranEd Sheeran              =
11  62     주시크 (Joosiq)주시크 (Joosiq)         아무래도 난
12  63                         경서경서  밤하늘의 별을(2020)
13  64                     멜로망스멜로망스      세 번째 '고백'
14  65               버스커 버스커버스커 버스커     버스커 버스커 1집

In [17]:
df.to_csv('일간장르2.csv', index=False)